.DS_Store
node_modules/
build/dictionaries/99-Illuminator_x
build/dictionaries-debug/
build/stardict/
build/wylieLines*
public/*.sqlite
*.sqlite
demo.mp4

dist/
#Tauri build output
/src-tauri/target/
