.help-dialog code {
  display: inline-block;
  position: relative;
  top: -0.8px;
  padding: 2px 3px;
  font-size: 100%;
  white-space: nowrap;
}

.help-dialog .mixed.terms-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.help-dialog .terms-list code {
  margin-bottom: 2px;
}
.help-dialog .mixed.terms-list code {
  display: inline-flex;
  align-items: center;
  height: 40px;
}

.help-dialog ul li {
  margin-bottom: 4px;
}

.help-dialog table tr td {
  padding-bottom: 8px;
}
.help-dialog table tr:last-child td {
  padding-bottom: 0;
}
  .help-dialog table tr td:first-child {
    padding-left: 0;
    padding-right: 12px;
  }
    .help-dialog table tr td:first-child code {
      display: flex;
      align-items: center;
      height: 40px;
    }
  .help-dialog table tr td .tibetan {
    line-height: 1.375rem !important;
  }

.help-dialog .demo-instructions {
  font-size: 1em;
  color: #999;
  padding: 40px;
  min-height: 100px;
}
.help-dialog .demo-container {
  background: whitesmoke;
  padding: 32px 64px;
}
.theme--dark .help-dialog .demo-container {
  background: black;
}
  .help-dialog .demo-container .lines {
    margin: 0;
  }

.keyboard-square {
  display: inline-flex;
  justify-content: center;
  min-width: 36px;
  padding: 0 5px;
  color: black !important;
  font-weight: bold;
  line-height: 36px !important;
  background: #ddd;
  border: 1px solid #777;
  border-radius: 4px;
  vertical-align: top;
}
.keyboard-square + .keyboard-square {
  margin-left: 2px;
}