html {
  overflow-y: scroll;
  --black-background: #001211;
}

.theme--dark.v-application {
  background: var(--black-background) !important;
}

.v-main {
  transition: none;
}

.help-button {
  position: absolute;
  top: 8px;
  right: calc(50% - 44px * 2);
  z-index: 99;
}
  .help-button .v-icon {
    margin: 0;
  }

.v-system-bar {
  padding: 0;
}

#settings-button {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 999;
}

#theme-button {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 999;
}

.theme--light #theme-button {
  color: #888 !important;
}


.v-tabs-bar {
  background: #d0d0d0 !important;
}
  .v-tabs-bar .v-tab {
    font-weight: bold;
  }
  .v-tabs-bar .v-tab--active {
    color: #1976d2 !important;
  }
  .v-tabs-bar .v-slide-group__next,
  .v-tabs-bar .v-slide-group__prev {
    display: none !important;
  }
.theme--dark .v-tabs-bar {
  background: black !important;
}
  .theme--dark .v-tabs-bar .v-tab:not(.v-tab--active) {
    font-weight: normal;
    color: white !important;
  }
  .theme--dark .v-tabs-bar .v-tab.configure:not(.v-tab--active) {
    font-weight: bold;
    color: #616161 !important;
  }
  .theme--light .v-tabs-bar .v-tab.configure:not(.v-tab--active) {
    color: #888 !important;
  }

.v-main .v-main__wrap .container,
.v-main .v-main__wrap .container .v-tabs-items {
  height: 100%;
}

.theme--light .v-overlay__scrim {
  background: #d0d0d0 !important;
}
.theme--light .v-overlay .v-progress-circular {
  color: rgba(0,0,0,0.75);
}

.v-tabs-items {
  background: none !important;
}

.theme--light .dictionary-label {
  color: white;
}


.text-center input,
.text-center textarea {
  text-align: center;
}


.list-item {
  transition: transform 1s, opacity 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
}
.list-leave-active {
  position: absolute;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.v-input.with-right-button .v-input__append-outer {
  align-self: stretch;
  height: auto;
  margin: 0 0 0 9px;
}
  .v-input.with-right-button .v-input__append-outer .v-btn {
    height: 100%;
  }

.v-card .v-progress-linear[left] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 100% !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.v-tooltip__content.menuable__content__active {
  opacity: 1 !important;
}

.v-autocomplete__content .v-list-item .v-list-item__title {
  overflow: visible;
  white-space: normal;
}

fieldset legend {
  cursor: pointer;
}
fieldset legend:hover {
  text-decoration: underline solid 1.7px;
}

abbr[data-title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted 1.7px #777;
  text-decoration: underline dotted 1.7px #777;
  cursor: pointer;
}
abbr[data-title]:hover {
  text-decoration-style: solid;
}

.definition a[href]:hover {
  text-decoration: underline solid 1.7px !important;
}