html {
  overflow-y: scroll;
  background: #fef5e7;
  --black-background: #001211;
  --deep-red: #A30000;
  --yellow: #FFC107;
  --orange: #FF9800;
  --paper: #FAF3E0;
  --contentBackground: var(--paper);
  background: var(--contentBackground) !important;
}

html.theme--dark {
  --contentBackground: var(--black-background);
  background: var(--black-background) !important;
}

.theme--light.v-application {
  background: var(--contentBackground);
} 

.v-tabs-items,
.theme--light.v-data-table {
  background: none !important;
}

.v-main {
  transition: none;
}

.help-button {
  position: absolute;
  top: 8px;
  right: calc(50% - 44px * 2);
  z-index: 99;
  opacity: 0.75;
  transition: opacity 0.2s;
}
.help-button:hover {
  opacity: 1;
}
  .help-button .v-icon {
    margin: 0;
  }
  .theme--light .help-button .v-icon {
    color: var(--yellow) !important;
  }

.v-system-bar {
  padding: 0;
}
.theme--light .v-system-bar .v-input {
  background: #fffcf4;
}

#settings-button {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 999;
}

#theme-button {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 999;
}

.theme--light #theme-button {
  color: var(--yellow) !important;
}

.v-tabs-bar {
  background: var(--deep-red) !important;
}
  .v-tabs-bar .v-tab {
    font-weight: bold;
    color: #f8f8f8 !important;
  }
  .v-tabs-bar .v-tab--active {
    color: var(--yellow) !important;
  }
  .v-tabs-bar .v-slide-group__next,
  .v-tabs-bar .v-slide-group__prev {
    display: none !important;
  }
  .theme--light .v-tabs-bar .v-tab.configure:not(.v-tab--active) {
    color: #cccccc !important;
  }
  .v-tabs-slider-wrapper {
    display: flex;
    height: 4px !important;
    bottom: 12px;
    align-items: center;
    justify-content: center;
  }
  .v-tabs-slider-wrapper .v-tabs-slider {
    width: 21px;
    border-radius: 4px;
    background: var(--yellow);
  }
  
.theme--dark .v-tabs-bar {
  background: black !important;
}
  .theme--dark .v-tabs-bar .v-tab:not(.v-tab--active) {
    font-weight: normal;
    color: white !important;
  }
  .theme--dark .v-tabs-bar .v-tab.configure:not(.v-tab--active) {
    font-weight: bold;
    color: #616161 !important;
  }

.v-main .v-main__wrap .container,
.v-main .v-main__wrap .container .v-tabs-items {
  height: 100%;
}

.theme--light .v-overlay__scrim {
  background: var(--paper) !important;
}
.theme--light .v-overlay .v-progress-circular,
.theme--light .v-overlay .v-progress-circular * {
  color: var(--deep-red) !important;
}
.dictionary-label {
  background: #ffc107 !important;
}
.theme--light .dictionary-label {
  color: white;
}
.theme--dark .dictionary-label {
  text-shadow: 0px 0px 4px gray;
}


.text-center input,
.text-center textarea {
  text-align: center;
}


.list-item {
  transition: transform 1s, opacity 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
}
.list-leave-active {
  position: absolute;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.v-input.with-right-button .v-input__append-outer {
  align-self: stretch;
  height: auto;
  margin: 0 0 0 9px;
}
  .v-input.with-right-button .v-input__append-outer .v-btn {
    height: 100%;
  }

.v-card .v-progress-linear[left] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 100% !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.v-tooltip__content.menuable__content__active {
  opacity: 1 !important;
}

.v-autocomplete__content .v-list-item .v-list-item__title {
  overflow: visible;
  white-space: normal;
}

fieldset legend {
  cursor: pointer;
}
fieldset legend:hover {
  text-decoration: underline solid 1.7px;
}

abbr[data-title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted 1.7px #777;
  text-decoration: underline dotted 1.7px #777;
  cursor: pointer;
}
abbr[data-title]:hover {
  text-decoration-style: solid;
}

.definition a[href]:hover {
  text-decoration: underline solid 1.7px !important;
}