html.theme--light {
  --sidebarBackground: #f9f9f9;
  --transparentSidebarBackground: rgba(249, 249, 249, 0);
  --sidebarBorder: #e1e1e1;
  --scrollbarColor: #ccc;
  --scrollbarColorHover: #999;
}

html.theme--dark {
  --sidebarBackground: #24282a;
  --transparentSidebarBackground: rgba(36, 40, 42, 0);
  --sidebarBorder: #000;
  --scrollbarColor: #6c6c6f;
  --scrollbarColorHover: #949697;
}

::-webkit-scrollbar {
  -webkit-appearance: none
}

::-webkit-scrollbar:vertical {
  width: 16px
}

::-webkit-scrollbar:horizontal {
  height: 16px
}

::-webkit-scrollbar-button,::-webkit-scrollbar-corner {
  display: none
}

::-webkit-scrollbar-track {
  background: var(--contentBackground);
  border: 1px solid var(--contentBackground)
}

::-webkit-scrollbar-track:hover {
  background: var(--sidebarBackground);
  border-color: var(--sidebarBorder)
}

::-webkit-scrollbar-track:vertical {
  border-width: 0 0 0 1px
}

::-webkit-scrollbar-track:vertical:corner-present {
  border-width: 0 0 1px 1px;
  border-radius: 0 0 0 2px
}

::-webkit-scrollbar-track:horizontal {
  border-width: 1px 1px 0 1px;
  border-radius: 2px 2px 0 0
}

::-webkit-scrollbar-thumb {
  min-height: 2rem;
  background: var(--scrollbarColor);
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover,::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbarColorHover);
  border-width: 4px
}