@font-face {
  font-family: "DDC_Uchen";
  src: url("../../vendor/fonts/DDC_Uchen-webfont.ttf") format('truetype');
}

.tibetan,
.v-input.tibetan textarea,
.v-input.tibetan input[type=text] {
  font-family: DDC_Uchen;
  font-size: 1.1875rem;
  line-height: 1.35rem;
  vertical-align: middle;
}
.v-input.tibetan textarea,
.v-input.tibetan input[type=text] {
  padding: 0;
  height: 2.25rem;
  line-height: 2.25rem;
  max-height: none !important;
}

.tibetan .v-btn {
  font-family: "Roboto", sans-serif !important;
}

a.tibetan,
.tibetan a {
  text-decoration: none !important;
}

.v-autocomplete__content .v-list-item .v-list-item__title {
  font-family: DDC_Uchen;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}